<div class="about-me-container">
    <div class="center-div">
        <h1>About Me</h1>
        <div class="align-about-me">
            <p class="material-icons"(click)="redirectToHome()">
               home 
            </p>
            <div class="my-profile-image">
                <img src="../../../assets/saida.jpg" alt="" class="profile-pic">
         
            </div>
            <div class="my-info">
                <div class="my-content">
                    
                    <div class="Hi-there">
                       Hi there!<span class="waving-hand">👋</span> 
                    </div>
                    <div class="iam">
                            I'm <span class="add-color">Saida Taj M R</span>
                    </div>
                    I'm passionate  frontend web developer having an experience of web applications with  React.js, React Native,Recoil,
                    Redux,Redux Toolkit ,Express, Typescript & Angular framework
                </div>
                <div class="connect">
                </div>
            </div>
            <div class="align-image">
                <img  
                class="linkedIn-logo" 
                src="../../../assets/-more-related-linkedin-vector-icon-vector-logos-linkedin-vector-logo-23.png" 
                (click)="redirectToLinkedIn()"
                alt="">
            </div>
        </div>
    </div>
    

</div>
