<div class="app">
  <div *ngIf="!showAboutMePage" class="home">
      <div class="main-container">
        <div class="header-items">
          <div class="header"  >Angular Weather App</div>
          
        <div >
          <img 
          src="https://media.licdn.com/dms/image/C4D03AQGmUvSSYd_E1w/profile-displayphoto-shrink_800_800/0/1661763775986?e=1704326400&v=beta&t=KADRpvtlqkFZv-leLfep1uRxo--LKJKZVVqKBxHZlic" 
          alt="" 
          class="my-img"
          (click)="handleImageClick()"
          >
        </div>
        
      
        </div>
        <div *ngIf="!showAboutMePage">
          <div class="search">
            <input class="search-input" (input)="onInputChange($event)" value={{inputValue}} />
            <button (click)="fetchData()" class="search-btn" value = {{inputValue}}>Search</button>
        </div>
            <h2 *ngIf="data" class="city-name">{{inputValue}}</h2>
            <h2 *ngIf="!data" class="city-name">City Name</h2>
            <div class="date-day"> {{dayDate}}  </div>
            <img class="icon" src="https://freepngimg.com/thumb/categories/2275.png" alt="">
            <div class="weather-status"> 
                <span class="temp">
                   {{celsiusFlag ? celsius :fahrenheit}} <span  [ngClass]="celsiusFlag ? 'enable' : 'disable'" (click)="convertToFahrenheitToCelsius()" >°C </span> |  <span  (click)="convertToCelsiusTOFahrenheit()" [ngClass]="!celsiusFlag ? 'enable' : 'disable'">°F</span>
                </span>
    
            </div>
            <div class="weather">{{data &&data.weather && data.weather[0]?.description}} </div>
            <div class="more-info">More Information!!</div>
            
            <div class="flexbox">
              <div class="left-side">
                 <div class="one">
                  <div class="material-icons">
                    air
                </div>
                <div *ngIf="data">{{data?.wind?.speed}}m/s
                  <div>Wind Speed</div>
                </div>
                      
                 </div>
                 <div class="one">
                  <span class="material-icons">
                    sunny_snowing
                </span>
                 <div *ngIf="data">
                  <div class="align-text" >Max Temp</div>
                  {{data?.main?.temp_max}}°F</div>
                      
                 </div>
              </div>
              <div class="right-side">
                <div class="one">
                  <div class="material-icons">
                    water_drop
                </div>
                <div *ngIf="data">{{data?.main?.humidity}}%
                  <div class="aligh-text">Humidity</div>
                </div>
                      
                 </div>
                 <div class="one">
                  <span class="material-icons">
                    light_mode
                </span>
                <div class="align-text" *ngIf="data">
                  <div>Min Temp</div>
                  {{data?.main?.temp_max}}°F</div>
                 </div>
              </div>
       
           </div>
        </div>
    
         
      </div>
   </div>
  
  
        <router-outlet></router-outlet>

</div>
